/**
 * Float Layout Activity 
 **/

* {
  box-sizing: border-box;
  text-align: center;
}


/* INSTRUCTOR: Here is the filled out version of the float activity*/

body {
  
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  width:80%;
  margin: 0 auto 0 auto;
  padding: 0px;
  color: #333;
  background: #ccc;
  border: 1px solid blue;
  height: 7%;

}

h1 {
  top: 0;
  float: left;
  background-color:  #4aaaa5;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  /*line-height: auto;*/
  /*font-weight: 900;*/

} 

ul {
    list-style-type: none;
    /*float: right;*/
  
}

li  {
    float: right;
    display:inline;
    border-right: 1px solid #b0c0d6;
    padding-right: 1%;
    padding-left: 1%;
  

} 

li a {
  text-decoration: none;
  
  
}


section {
  margin-bottom: 20px;
  padding: 20px;
  background: #ccc;
}

#background{
  clear: both;
  width: 80%;
  background-image:  url("/assets/images/bright_squares_@2X.png");
  margin: 0 auto 0 auto;
  /*overflow: auto;*/
  padding: 0px;

    }

  #pattern {
    width: 100%;

  }
#content {
  clear: both;
  float: left;
  width: 33.3%;
  color: #fff;
  background: #666;
}

h2 {z-index: 50;
    border-bottom: 1px solid #bbb;
    float: left;


}

#portrait {
  clear: both;
  border: 3px solid blue;
float: left;
}

#connect {
  float: left;
  width: 33.3%;
  color: #fff;
  background: #888;
}

h3 {z-index: 50;
    border-bottom: 1px solid #bbb;
    float: left;


}

#push-down {
  clear: both;
}


#right {
  float: left;
  width: 33.3%;
  color: #fff;
  background: #666;
}

#full {
  clear: both;
  width: 100%;
  overflow: auto;
  background: #eee;
}

#division {
  background-image:  url("/assets/images/bright_squares_@2X.png");
  margin-top: 20px;
  padding: 20px;
 
 }

aside {
  float: left;
  background-image:  url("/assets/images/bright_squares_@2X.png");
  width: 33%;
  margin-left: 30px;
  padding: 20px;
  height: 200px;
  /*background: #fff;*/
  border: 1px solid #eee;
}

footer {
  clear: both;
  padding: 20px;
  background: #ccc;
}