/*Portfolio - main page with about me*/

* {
  box-sizing: border-box;
  }



body {
  
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.5;
  color: #777777;
}


header {

  width:800px;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 5px;
 
}



ul {
    list-style-type: none;
    color: #777777;
    
    /*float: right;*/
}

li  {
    float: right;
    border-right: 1px solid #b0c0d6;
    padding-right: 1%;
    padding-left: 1%;

} 



li a {
  text-decoration: none;
  color: #777777;
  
  
}

li:hover {
  background-color: #4aaaa5;
}



li:nth-child(1){
    border-right: none;
    }


h1, h2, h3 {
   font-family: Georgia;
   }

h1 {
  
  float: none;
  clear: none;
  background-color:  #4aaaa5;
position: relative;
bottom: 5px;
left: -30px;
  display: inline;
  color: #ffffff;
  
  font-size: 25px;
  padding: 2%;
  

} 

section {
 
}

#background {
  clear: both;
  width:  64%;
  border: 1px solid #cccccc;
  height: 100%;
  background-image: url(../images/bright_squares_@2X.png);
  margin: 0 auto 0 auto;
  overflow: auto;
  padding: 30px;


    }


#connect {
  float: right;
  position:relative;
  overflow: auto;
  right: 3%;
  width: 28%;
  padding: 0 1% 0 1%;
  text-align: center;
  background: #ffffff;
  color: #4aaaa5;
  border: 2px solid #dddddd;
}


h2 {
    font-size: 20px;
    border-bottom: 1px solid #bbb;
  
}


#push-down {
  clear: both;
  border-bottom: none;
}

.logo {
  
  width: 20%;
  margin: 5%;
}

.logo:hover  {
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

#content {
  clear: none;
  float: none;
  width: 68%;
  height: 100%;
  border: 2px solid #dddddd;
  background:  #ffffff;
  text-align: left;
  padding: 3%;
  overflow: auto; 
}


h3 {
   color: #4aaaa5;
  text-align: left;
  border-bottom: 1px solid #bbb;
    

}

#description {
  text-align: left;

   
  }


#portrait {

  float: left;
  margin-left: 2%;
  margin-right: 10px;

}

.projects {
width: 40%;
position: relative; 
float: left;
 margin: 0 10px 10px 5%;

}

.project-image {
  clear: both;
  width: 100%;
  float: left;
   
}

.project-image:hover {
  height: 110%;
  width: 110%;
 
}

.label {
  position:  absolute;
  text-align: center;
  color: #ffffff;
  background-color: #4aaaa5;
  bottom: 5px;
  width: 100%;
  padding: 5% 0;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#message  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


}
input:hover  {
  background-color: lightblue;
}

#message:hover  {
  background-color: lightblue;
}
input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
  }

footer {
  clear: both;
  width:  64%;
  padding: 5px;
  background: #666666; 
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto 0 auto;
  overflow: auto;
  padding: 3% 0 3% 0;
  border-top: 5px solid #4aaaa5;

}

#small-logo {

  border-bottom: none;
  width: 1%;
  
}

